@charset "utf-8";

/*레이아웃#81d8d0*/
#mNav {  display: none;  position: absolute; top: 13px; left: 14px;}
#header {width: 100%;  }
#slide { width: 100%; }
#footer { width: 100%;}
/* 가운데 영역 */
.container { width: 100%; margin: 0 auto;  background: rgba(0,0,0,0);   }
.wrap {width: 1280px; margin: 0 auto; }

/* 로우 영역 */
/*.row {padding: 0 28px;} background:rgba( ,0.8); #ffb2b8 */


/* 헤더 영역 */
.header { background: #FFF;; width: 100%; position: fixed; top: 0px; z-index: 99; padding-top: 15px; }

.header .utill_box {width: 100%; text-align: right;  }
.header .utill_box > ul {padding: 2px 0px;    }
.header .utill_box > ul > li { display: inline-block; padding: 3px; margin-right: 2px; }
.header .utill_box > ul > li > a { color: #777; font-weight:300 }
.header .utill_box > ul > li > a:hover { color: #000;}
.header  .utill_box > ul > li > a > button { width: 15px; height: 15px; background: url(../img/heart.png) no-repeat 0 center;  border: 0; cursor: pointer; vertical-align: -2px;}
.header  .utill_box > ul > li:last-child > a > button { width: 15px; height: 15px; background: url(../img/cart.png) no-repeat 0 center;  border: 0; cursor: pointer; }

.search_box { }
.search_box input{ margin-left: 15px; border: 1px solid pink; padding: 2px 5px; 2px 5px;;  border-radius: 10px; opacity: 1; transition: 0.3s;}
.search_box i  { cursor: pointer;}
/*.search_box button {  width: 20px; height: 20px; background: url(../img/search.png) no-repeat 0 center; background-size: cover; vertical-align: middle; border: none; cursor: pointer;}*/

.header .logo_box { }
.header h1{ }
.header h1 em { padding:  0px 0px 0px 20px; float: left;}
.header h1 em img{ width: 150px;  }

/*전체 내려오기...... relative는 GNB에 주자. */

.header .gnb_box {  transition: 0.15s; padding-bottom: 8px; position: relative;   }
.header .nav { text-align: center; float: left;  width: 51%; } 
.nav .main-box { }
.nav .main-box > li { display: inline-block; margin: -2px; }
.nav  .main-box > li  > a{ display: block; padding: 0px 25px 7px; 25px; transition: 0.1s; font-weight:300; color: #333; font-size: 16px; }
.nav .main-box > li > a:hover {  color: #ffb2b8; }

.nav .main-box > li::after { content: "";  display: block; width: 0%; height: 2px; margin-top: 2px; background: pink; }
.nav .main-box > li:hover::after{ content: "";  display: block; width: 100%; height: 2px; margin-top: 3px; background: pink; z-index: 100;}

.nav  .main-box > li  >.sub-box {  position:absolute;  left: 0; top: 100%; width: 100%; /*height값 안쓰면 자 동..*/background:rgba(255,255,255,0.9);   display:none ; z-index: 2;}
.nav  .main-box > li >  .sub-box.active { display: inline-block;}
/*.nav  .main-box > li:nth-child(1) > .sub-box  {display: inline-block;}*/

.sub-box_inner { padding: 20px; display: flex; width: 1200px; margin: 0 auto}

.sub-box_list { width:80%; padding-left:  50px;  }
.sub-box_list > .sub-box_list_in { display: flex; justify-content: center;  }
.sub-box_list > .sub-box_list_in h3 { font-weight: bold;}
.sub-box_list_in  ul > li {padding: 10px 30px }
.sub-box_list_in a {display: block;padding: 2px;}
.sub-box_list_in a:hover { color: #ffb2b8; }

.sub-box_img {  padding: 0 100px 0 0;}
.sub-box_img > ul { display: flex; justify-content: flex-end; align-items:flex-start; height: 100%;}
.sub-box_img > ul > li { width:25%; margin-right: 5px; background: #f9f9f9; margin-top: 10px;}
.sub-box_img > ul > li>  a > img { display: block; }

/*---------------------------header----------------------------------*/
 html,  body {
        position: relative;
        height: 100%;
      }

      .swiper {
        width: 100%;
        margin-bottom: 55px;            
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #f9f9f9;


        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    .swiper-button-next { color: rgba(255,255,255,0.5)}
    .swiper-button-next:hover { color: rgba(255,255,255,1)}
    .swiper-button-prev { color: rgba(255,255,255,0.5)}
    .swiper-button-prev:hover { color: rgba(255,255,255,1)}

.swiper-pagination-bullet-active { background: pink;}

.header-slider { margin-top: 100px;}

/*---------------------------slide----------------------------------*/

#contnets {}
.banner-section {display: flex; justify-content: space-between; text-align: center; margin-bottom: 50px; }
.banner-img { width: 49%;; cursor: pointer;}
.banner-img > a {}
.banner-img > a > img{  display:block;}

.new-section {}
.new-section h2 { font-size: 2rem; text-align: center; font-weight: 400; margin: 10px;  color: #ffb2b8 }


.promo-section { display: flex; justify-content: space-between; text-align: center; margin-bottom: 50px;  }
.promo { width: 49%;; cursor: pointer;   }
.promo > a {    }
.promo > a > img {  margin-top: 20px;  }
.promo-left {    }
.promo-right {  margin-top: 150px;  }

.best-section {}
.best-section h2 { font-size: 2rem; text-align: center; font-weight: 400; margin: 10px; color:  #ffb2b8 }
.best-slider {; }

.video-section { width: 100%;  background-color: #ffced2; padding: 50px 0; margin-bottom: 50px;  }
.video { display: flex; justify-content: center; align-items: center;}

.banner-section2 { display: flex; justify-content: center; margin-bottom: 50px;  }
.banner-section2 > a { width: 90%; margin-right: 10px; }
.banner-section2 > a:last-child { margin-right: 0px; }
.banner-section2 > a > img { display: block;  }

/*---------------------------footer----------------------------------*/

.footer { border-top: 2px solid #000; padding: 30px 0; }
.logo_black { max-width: 160px}
.footer-logo { margin: 3px 0   }
.footer-menu > ul { font-weight:300; }
.footer-menu > ul > li { display: inline-block; }
.footer-menu > ul > li::after {  content: "|";  display: inline-block;  margin-right: 1px;  }
.footer-menu > ul > li:last-child::after{  content: "" }
.footer-menu > ul > li > a { }
.footer-menu1 {  float: left ;}
.footer-menu2 {  float:right;}
.footer-info { margin-top: 30px; font-size: 12px;}
.footer-info h1 { font-size: 1.3rem;}


